<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tic Tac Toe</title>
</head>
<body>
    <div class="espaco_total">
        <h1>Tic Tac Toe</h1>
        <div class="espaco_jogo">
            <div class="espaco_avisos">
                <span class="avisos"></span>
            </div>
            <div class="celulas">
                <button data-index="0" class="celula"></button>
                <button data-index="1" class="celula"></button>
                <button data-index="2" class="celula"></button>
                <button data-index="3" class="celula"></button>
                <button data-index="4" class="celula"></button>
                <button data-index="5" class="celula"></button>
                <button data-index="6" class="celula"></button>
                <button data-index="7" class="celula"></button>
                <button data-index="8" class="celula"></button>
            </div>
        </div>
        <div class="informacoes_controle">
            <button class="btn_reiniciar">REINICIAR</button>
        </div>
        <div class="pop">
            <span></span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>