.espaco_total {
    width: 100%;
    height: 628px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #8BC34A, #009688);
}.espaco_jogo {
    background: white;
    margin-bottom: 20px;
    width: 500px;
    height: 435px;
    display: inline-grid;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    justify-items: center;
}.celulas {
    height: 305px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px; /* espaço entre as células */
    margin-top: -35px;
}.celula {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(45deg, #8BC34A, #009688) border-box;
    border: 4px solid transparent;
    font-size: -webkit-xxx-large;
    color: black;
}.celula:hover {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background: linear-gradient(#e3e3e3, #e3e3e3) padding-box, 
                linear-gradient(45deg, #8BC34A, #009688) border-box;
    border: 4px solid transparent;
    font-size: -webkit-xxx-large;
    color: black;
}.btn_reiniciar {
    width: 115px;
    height: 40px;
    background: white;
    border-radius: 25px;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #F44336, #710800) border-box;
    border: 4px solid transparent;
    color: black;
}.btn_reiniciar:hover {
    width: 115px;
    height: 40px;
    background: white;
    border-radius: 25px;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #F44336, #710800) border-box;
    border: 4px solid transparent;
    color: black;
    box-shadow: 0px 0px 15px 1px #ffffff;
}.espaco_avisos {
    display: flex;
    height: fit-content;
    margin-top: 28px;
    font-family: system-ui;
    text-transform: uppercase;
}.pop{
    opacity: 0;
    margin-top: 15px;
    font-family: sans-serif;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    color: #b00020;
    border: 3px solid rgb(129, 16, 16);
    border-radius: 6px;
    font-size: 14px;
    width: fit-content;
    height: 65px;
    position: fixed;
    transition: opacity  0.3s ease-in;
}.pop.ativo {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}h1{
    font-family: sans-serif;
    font-weight: 900;
    font-variant: petite-caps;
    color: white;
}

@keyframes fundo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}